<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

<test name="TestOnChrome">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testScenarios.CaseStudyOfAlert"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestOnFireFox">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testScenarios.CaseStudyOfAlert"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->

